spring:
  application:
    name: popularity
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=10m
management:
  endpoints:
    web:
      exposure:
        include: health, metrics
  metrics:
    enable:
      cache: true
    distribution:
      percentiles:
        http.server.requests: 0.5,0.9,0.95,0.99
      slo:
        http.server.requests: 100ms,250ms,500ms,1s,2s
      percentiles-histogram:
        http.server.requests: true
logging:
  level:
    org.springframework.cache: ERROR
    org.springframework.cache.interceptor: ERROR
    com.redcare.popularity.http.client.github.GithubHttpClient: ERROR
    feign.Logger: ERROR
scoring:
  weights:
    star: 0.5
    fork: 0.3
    recency: 0.2
http:
  github:
    api:
      url: https://api.github.com
      token: "${GITHUB_API_TOKEN:}"
      retry:
        maxAttempts: 3
        period: 1000
        maxPeriod: 5000
      rateLimit:
        limitForPeriod: 30
        limitRefreshPeriod: 60